.fake-player-slider {
    $background-color: #606060;
    $main-color: #f00;
    display: flex;
    align-items: center;
    padding: 0 6px;
    min-height: 12px;
    min-width: 2px;
    user-select: none;
    cursor: pointer;
    .wrap {
        position: relative;
        height: 4px;
        width: 100%;
        pointer-events: none;
        .scale {
            position: absolute;
            width: 2px;
            height: 100%;
            transform: translateX(-50%);
            background-color: $background-color;
            border-radius: 1px;
            .text {
                position: absolute;
                left: 50%;
                bottom: 12px;
                transform: translateX(-50%);
                font-size: 12px;
                line-height: 1;
                white-space: pre;
            }
            &:first-child {
                transform: unset;
                .text {
                    left: -6px;
                    transform: unset;
                }
            }
            &:last-child {
                transform: translateX(-100%);
                .text {
                    left: unset;
                    right: -6px;
                    transform: unset;
                }
            }
        }
        .progress {
            position: absolute;
            top: 1px;
            height: 2px;
            width: 100%;
            border-radius: 1px;
            background-color: $background-color;
            .current {
                position: absolute;
                background-color: $main-color;
                height: 100%;
                width: 0;
            }
            .dot {
                position: absolute;
                background-color: $main-color;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                transform: translate(-6px, -5px);
            }
        }
    }
}